USE [master]
GO
/****** Object:  Database [TB]    Script Date: 27-Dec-22 12:51:42 AM ******/
CREATE DATABASE [TB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TB]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 27-Dec-22 12:51:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[cb] [bit] NOT NULL,
	[serial] [int] NOT NULL,
	[input] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
